@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.profile img{
    margin-left: auto;
    margin-right: auto;
}

#profile-image{
    height: 150px;
    max-width: 150px;
}

#nav-links{
    margin-top: 8vh;
}

#nav-links a{
    color: black;
}

#side-bar{
    max-width: 35vh;
    height: 100vh;
    background-color: #377EB1;
}

.sign-out{
    margin: 30vh 0vh 10vh;
    padding: 20px;
}

#sign-ot{
    color: red;
}
 
aside{
    margin: 2vh;
}

.classconnect{
    display: flex;
}

#header{
    background-color: #1C4E80;
    padding: 10vh 0vh 0vh 2vh;
    height: 180px;
    width: 88vw;
}

#header h1{
    font-weight: 700;
    color: white;
}

.is-active{
    font-weight: 700;
}

.recent-subjects{
    display: flex;
}