<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC:Sign-in as an Admin</title>
    <link rel="stylesheet" href="css/singDesign.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        html{
            background-image: url(images/Blue-light-rays-starry-space_2560x1600.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .sign-up{
            max-width: 450px;
            margin: 30px;
        }
    </style>
</head>
<body>
    
    <div class="container my-6">

        <div class="sign-up my-6">
            <div class="sign-up-form section">
                <h1 class="create-account has-text-centered has-text-white">Welcome, Admin!</h1>
    
                <div class="sign-form my-6">
                    <label for="email" class="has-text-white">Username</label><br>
                    <input type="text" placeholder="Enter Email" name="email" class="input is-normal has-background-white-ter" required>
                    <br><br>
    
                    <label for="password"  class="has-text-white">Password</label><br>
                    <input type="password" placeholder="Enter Password" class="input is-normal has-background-white-ter" name="password" required>
                    <br><br>
    
                    <div class="sign-up-buttons mt-3 has-text-centered">
                        <button id="sign-up" class="button is-info has-text-white">Sign-in</button><br>
                        <a href="sign-in(teacher).html"><button id="sign-teacher" class="button is-white has-text-black my-4">Sign-in as a Teacher</button></a>
                        <a href="sign-in.html"><button id="sign-teacher" class="button is-white has-text-black mb-4">Sign-in as a Student</button></a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>