#student-box, #act-box{
    justify-content: center;
    align-items: center;
    gap: 45vw;
    background-color: #D9D9D9;
    padding: 50px;
}

#view-button{
    background-color: #1C4E80;
    border: 0;
    width: 120px;
}

@media screen and (width <= 540px){
    #student-box, #act-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #student-box, #act-box{
        padding: 23px;
    }
}

@media screen and (width <= 430px){
    #view-button{
        padding: 20px;
    }
}
